@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,800;1,600&family=Source+Code+Pro:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --bigFont: 'Merriweather Sans', sans-serif;
}

html{
  font-size: 16px;
}

body{
  position: relative;
}

nav{
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 4fr; 
  font-size: 1.7rem;
  background-color: rgb(70, 68, 82);
  justify-items: center;
  padding: .6em 0;
  top: 0;
  left: 0;
  position: fixed;
}

nav, nav a{
  text-transform: capitalize;
  color: rgb(201, 213, 213);
  font-family: var(--bigFont);
  font-weight: 400;
}

nav a{
  margin: 0 .5em;
}

nav a:hover{
  text-decoration: underline;
}

nav h3{
  display: block;
}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

#welcome-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 186, 209);
}

#mainHeader{
  width: 100vw;
  text-align: center;
}

#welcome-section h1{
  font-family: var(--bigFont);
  font-size: 6rem;
  font-weight: 800;
  color: rgb(53, 53, 53);
}

#subheadingDiv{
  display: flex;
  justify-content: center;
}

.subHeading{
  margin: 0 .25em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 1.8rem;
  color: rgb(177, 10, 43);
}

.subHeading:after{
  content: '\00B7';
  margin-left: .5em;
}

#lastsub:after{
  content: '';
}

#projects{
  display: flex;
  flex-direction: column;
  background-color: rgb(70, 68, 82);
  padding-bottom: 4.5em;
}

h2{
  text-align: center;
  font-family: var(--bigFont);
  font-weight: 600;
  font-size: 3.5rem;
  text-transform: capitalize;
  padding: 1.2em 0;
}

#projects h2{
  color: rgb(201, 213, 213);
}

.project-tile a:hover{
  text-decoration: underline;
}

#tiles{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.project-tile{
  width: 450px;
  height: 450px;
  background-color: rgb(70, 68, 82);
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.linkImage{
  display: block;
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.projectlink{
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 2.3rem;
  text-align: center;
  padding: 1.4em 0;
  background-color: rgb(183, 186, 209);
}

.projectlink, .projectlink:visited{
  color: rgb(53, 53, 53);
}

.projectlink p{
  background-color: rgb(183, 186, 209);
  padding: .5em 0;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top: 1px solid rgb(177, 10, 43);
}

#codePenLink{
  margin-top: 2.8em;
  font-family: var(--bigFont);
  font-weight: 600;
  color: rgb(201, 213, 213);
  text-align: center;
  font-size: 2.8rem;
}

#codePenLink:visited{
  color: rgb(201, 213, 213);
}

#codePenLink:hover{
  font-style: italic;

}

#links{
background-color: rgb(183, 186, 209);
}


#contactLinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

#links{
  color: rgb(53, 53, 53);
  text-align: center;
  padding-bottom: 8em;
}

#email{
  display: block;
  font-family: 'Source Code Pro', monospace;
  color: rgb(53, 53, 53);
  padding: 4em 0 2em 0;
}

#contactLinks a{
  font-size: 2rem;
  color: rgb(53, 53, 53);
  text-transform: uppercase;
  padding-bottom: 1em;
}

.fab, .fas{
  margin-right: .2em;
}

#contactLinks a{
  display: flex;
  flex-direction: row;
  margin: 0 .6em;
  word-spacing: -20%;
}

#contactLinks a:hover{
  font-size: 2.8rem;
}

#email:hover{
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  html{font-size: 8px;}
  #tiles{
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr); */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-tile{
    width: 95vw;
    height: 95vw;
    padding-bottom: 15em;
    }

  img{
    max-width: 100%;
    height: 100%;
  }

  #lastTile{
    padding-bottom: 8em;
  }
}

/* @media (orientation: portrait) {
  #welcome-section{
    height: 100vw;
  }
} */











